.hero {
  padding: 5.6vw;
  min-height: 75vh;
  display: flex;
  background-image: url(../images/hero_desktop.jpeg);
  text-align: left;
  background-size: cover;

  &__content {
    max-width: 640px;

    &__img {
      max-width: 180px;
      margin-bottom: 2vw;
    }

    &__branding {
      max-width: 640px;
      width: 100%;
      margin-bottom: 34px;
    }

    .button--big {
      margin-bottom: 20px;
    }
  }
}
