.hero {
  padding: 5.6vw;
  min-height: 75vh;
  display: flex;
  background-image: url(../images/hero_desktop.jpeg);
  text-align: left;
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url(../images/hero_celular.jpeg);
    padding-top: calc(50vw + 25px);
    background-repeat: no-repeat;
    margin-top: -55px;
  }

  &__content {
    max-width: 640px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }

    &__img {
      max-width: 180px;
      margin-bottom: 2vw;
    }

    &__branding {
      max-width: 640px;
      width: 100%;
      margin-bottom: 34px;

      @media (max-width: 768px) {
        max-width: 180px;
      }
    }

    .button--big {
      margin-bottom: 20px;
    }
  }
}
