.plans {
  padding: 5.6vw;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    list-style: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      &__img {
        height: 83px;
        width: 100%;
      }

      &__strong {
        display: block;
        margin-top: 24px;
      }
    }
  }

  &__text {
    text-align: center;
  }
}
