@use "hero";
@use "_variables";
@use "_shows";
@use "_plans";
@use "_watch-anywhere";
@use "_devices";
@use "_faq";
@use "_footer";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variables.$textMainColor;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variables.$textSecondaryColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variables.$backgroundColor;
}

.text--bigger {
  @include text(18px);
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
}

.link-text {
  @include text(20px);
  color: variables.$textSecondaryColor;
  text-decoration: underline;
}

.title--bigger {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

.button {
  background-color: variables.$buttonColor;
  color: variables.$textSecondaryColor;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s ease 0s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }

  &--big {
    padding: 20px 33px;
    height: 68px;
  }

  &--small {
    margin-top: 2vw;
    margin-bottom: 8px;
    height: 60px;
  }
}
