@use "hero";
@use "_variables";
@use "_shows";
@use "_plans";
@use "_watch-anywhere";
@use "_devices";
@use "_faq";
@use "_footer";
@use "_header";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variables.$textMainColor;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variables.$textSecondaryColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

body {
  background-color: variables.$backgroundColor;
}

.text--bigger {
  @include text(18px);

  @media (max-width: 768px) {
    @include text(15px);
  }
}

.text {
  @include text;
  @media (max-width: 768px) {
    @include text(14px);
  }
}

.text--small {
  @include text(12px);
  @media (max-width: 768px) {
    @include text(11px);
  }
}

.link-text {
  @include text(20px);
  color: variables.$textSecondaryColor;
  text-decoration: underline;
}

.title--bigger {
  @include title(44px);
  @media (max-width: 768px) {
    @include title(26px);
  }
}

.title {
  @include title;
  @media (max-width: 768px) {
    @include title(24px);
  }
}

.title--small {
  @include title(28px);
  @media (max-width: 768px) {
    @include title(22px);
  }
}

.button {
  background-color: variables.$buttonColor;
  color: variables.$textSecondaryColor;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid variables.$buttonColor;

  &:hover {
    filter: brightness(1.2);
  }

  &--big {
    padding: 20px 33px;
    height: 68px;
  }

  &--small {
    margin-top: 2vw;
    margin-bottom: 8px;
    height: 60px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &--header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background-color: variables.$buttonColorSecundary;
    border-color: variables.$buttonColorSecundary;

    @media (max-width: 768px) {
      font-size: 13px;
      padding: 8px 11px;
      height: 40px;
      letter-spacing: 0;
    }
  }

  &--dark {
    background-color: rgba(variables.$buttonColorDark, 0.8);
    border-color: variables.$textSecondaryColor;
    &:hover {
      background-color: variables.$textSecondaryColor;
      color: variables.$backgroundColor;
    }
  }
}
